<?xml version="1.0"?>
<configuration>
  <appSettings>
    <add key="debug" value="false" />
    <add key="baiduApiKey" value="pzma8Nezl6j2czUjvh5r5N8l" />
    <add key="baiduSecretKey" value="eMW1eN8V5PeocdiEUpsrPKABLiwrK5GZ" />
    <add key="easySearchHomeUrl" value="http://secr.baidu.com/entry?status=1-1-1-1&amp;version=5" />
    <add key="questionAppParams_BaiWanYingXiong_1080x1920" value="eyJTY3JlZW5TaXplIjoiMTA4MCwgMTkyMCIsIkN1dFBvaW50cyI6WyI0NywgMjcyIiwiMTAwNiwgMTI2MSJdLCJPcHRpb25Qb2ludHMiOlsiNTQwLCA3NjkiLCI1NDAsIDk2NiIsIjU0MCwgMTE2MSJdfQ==" />
    <add key="questionAppParams_ZhiShiChaoRen_1080x1920" value="eyJTY3JlZW5TaXplIjoiMTA4MCwgMTkyMCIsIkN1dFBvaW50cyI6WyIxMiwgMzE4IiwiMTA0MywgMTE1MCJdLCJPcHRpb25Qb2ludHMiOlsiNTQwLCA2NzMiLCI1NDAsIDg2MiIsIjU0MCwgMTA1OSJdfQ==" />
    <add key="questionAppParams_BaiWanYingXiong_480x800" value="eyJTY3JlZW5TaXplIjoiNDgwLCA4MDAiLCJDdXRQb2ludHMiOlsiMTksIDk4IiwiNDQ4LCA0MTQiXSwiT3B0aW9uUG9pbnRzIjpbIjIzMCwgMjYwIiwiMjM3LCAzMjIiLCIyMzQsIDM5MCJdfQ==" />
  </appSettings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/>
  </startup>
</configuration>
